<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %> 
</head>

<body>
    <!-- Navigation-->
    <%- include('partials/navbar') %> 
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="<%= data.img_url %> " alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder"><%= data.product_name %> </h1>
                    <div class="fs-5 mb-5">
                        <div class="d-flex my-0">
                            <p class="small text-muted">sold: <span class=""><%= data.stock.sold %> </span>   •</p>
                            <p class="small text-muted ms-3">item left: <span class=""><%= data.stock.in_stock %></span></p>
                        </div>
                        <span>IDR <%= (data.price).toLocaleString() %> </span>
                    </div>
                    <p class="lead"><%= data.description %> </p>
                    <div class="d-flex">
                        <a href="/edit/<%= data.uuid %>" class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi bi-pencil me-1"></i>
                            Edit
                        </a>
                        <form action="/delete/<%= data.uuid %> " method="post">
                            <button type="submit" class="ms-2 btn btn-outline-danger flex-shrink-0">
                                <i class="bi bi-trash-fill me-1"></i>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <%- include('partials/footer') %> 
</body>

</html>